#external-modules-enabled{
	max-width: 700px;
}

#external-modules-disabled-modal .loading-indicator {
	padding: 50px;
}

#external-modules-disabled-modal input[type=checkbox] {
	vertical-align: -3px;
}

#external-modules-disabled-modal label {
	font-weight: normal;
}

#external-modules-disabled-table td:first-child,
#external-modules-enabled td:first-child {
	padding-top: 17px;
}

.external-modules-action-buttons {
	text-align: right;
}

/* Only display one backdrop, no matter how many modals are open. */
.modal-backdrop + .modal-backdrop {
	opacity: 0;
}

.table-no-top-row-border tr:first-child td,
.table-no-top-row-border tr:first-child th {
	border-top: none;
}

.table td {
	vertical-align: middle !important;
}

.table td label {
	margin-bottom: 0px;
	font-weight: normal;
}

.table th {
	font-size: 110%;
	font-weight: bold;
}

#external-modules-configure-modal input[type=radio] {
	vertical-align: -2px;
	margin-right: 5px;
}

#external-modules-configure-modal select:disabled {
	/* match text input disabled backgrounds */
	background-color: rgb(235, 235, 228);
}